<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand d-flex" href="/">
        <img height="50px" src="/img/guia.png">
    </a>
    <p class="h5 text-white">User: <%= user %></p><a href="<%= rota %>" class="btn btn-primary"><%= botao %></a>
</nav>